<div class="jumbotron">
<h1 class="text-center">welcome to interesting</h1>
<p class="text-center">This is <%= link_to "just something", "#", class: "btn btn-primary btn-lg" %> i'm working on.</p>
</div>